// Fichier de mixins SCSS - Préchargé automatiquement dans tous les composants
@use 'sass:meta';
@use 'sass:color';
@use 'sass:map';
@use "../themes/generated/variables.base.scss" as variablesBase;
@use "../themes/generated/variables.base.dark.scss" as variablesBaseDark;
@use "../themes/generated/variables.additional.scss" as variablesAdditional;
@use "../themes/generated/variables.additional.dark.scss" as variablesAdditionalDark;

@mixin theme-variables($theme-name) {
  $theme: meta.module-variables($theme-name);
  $base-text-color: map.get($theme, 'base-text-color');
  $base-bg: map.get($theme, 'base-bg');

  --base-text-color:  #{$base-text-color};
  --base-bg: #{$base-bg};
  --base-bg-darken-5: #{color.adjust($base-bg, $lightness: -5%)};
  --base-accent:  #{map.get($theme, 'base-accent')};
  --base-text-color-alpha-7: #{rgba($base-text-color, color.alpha($base-text-color) * 0.7)};
}
