// Import des mixins
@use './mixins' as *;

:root {
  body {
    @include theme-variables('variablesBase');

    --footer-border-color: rgba(224, 224, 224, 1);
    --plus-icon-color: #242424;
    --devextreme-logo-color: #596C7D;
    --vue-logo-text-color: #35495E;

    --shadow-color-first: rgba(0, 0, 0, 0.06);
    --shadow-color-second: rgba(0, 0, 0, 0.12);
  }

  .dx-swatch-additional {
    @include theme-variables('variablesAdditional');
  }

  .dx-swatch-dark {
    @include theme-variables('variablesBaseDark');

    --plus-icon-color: #fff;
    --devextreme-logo-color: #fff;
    --vue-logo-text-color: #fff;

    --shadow-color-first: rgba(0, 0, 0, 0.12);
    --shadow-color-second: rgba(0, 0, 0, 0.24);
    --footer-border-color: rgba(97, 97, 97, 1);
  }

  .dx-swatch-additional-dark {
    @include theme-variables('variablesAdditionalDark');
  }
}
